
/* h1, h2 {
    font-family: 'Shadows Into Light', cursive;
} */

#title {
    text-align: center;
    /* color: white; */
    background-color: #F73781;
    font-family: 'Shadows Into Light', cursive;
}

#directions {
    background-color:#B0D233;
    font-family: 'Shadows Into Light', cursive;
}

#targetNumber {
    background-color: #FE84A2;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#tally {
    background-color:#5D9315;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#fruits {
    margin-right: 5px;
}

#total, #score{
    background-color:#FDE575;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}



















/* <a href="https://www.freepik.com/free-photos-vectors/food">Food vector created by freepik - www.freepik.com</a> */