

#title {
    color: white;
    background-color: blueviolet;
    padding: 4%;
}

#directions {
    background-color: aquamarine;
}

#targetNumber {
    background-color: darkcyan;
}

#tally {
    background-color: crimson;
}

#fruits {
    background-color: bisque;
}

#total {
    background-color: brown;
}

#score {
    background-color: plum;
}




















/* <a href="https://www.freepik.com/free-photos-vectors/food">Food vector created by freepik - www.freepik.com</a> */